:8080 {
    # Handle backend API and WebSocket requests
    @backend path /_event* /ping /_upload*
    reverse_proxy @backend localhost:8000

    # Serve static frontend files
    root * /app/.web/_static
    file_server
    try_files {path} {path}/ /index.html
}
